<a href="https://colab.research.google.com/github/jeong-on/python_start/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%9E%85%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello');

hello

In [ ]:
print('안녕하세요.', end=' ')
print('저는 홍길동입니다.')

안녕하세요. 저는 홍길동입니다.

In [ ]:
# 컨트롤 + / : 주석넣는 부분 (#), comment,주석
# 입력 : 데이터를 가지고 와야함
# 처리 : 적절한 처리
# 출력 처리한 결과를 내보내는 일 (모니터, 파일, db저장, 네트워크 전송)

In [ ]:
name = input('이름을 입력하세요 >> ') # 간단한 처리(기호를 씀) : 연산=>연산자
# = : 대입 연산자

이름을 입력하세요 >> 홍길동

In [ ]:
print(name)

홍길동

In [ ]:
add=input('주소를 입력하세요 >>')
name=input('이름을 입력하세요 >>')
age=input('나이를 입력하세요 >>')

주소를 입력하세요 >>성남
이름을 입력하세요 >>윤정온
나이를 입력하세요 >>32

In [ ]:
print(add)
print(name)
print(age)

성남
윤정온
32

In [ ]:
location = '신촌'

In [ ]:
number = 2

In [ ]:
height = 195.5

In [ ]:
food_lunch = True

In [ ]:
age2=input ('나이 입력 >>') #100 
# 컴퓨터에서 입력한 데이터는 타입을 무조건 스트링으로 인식한다.
# 스트링을 정수로 바꿔쓰는(강제 캐스팅->캐스팅은 cpu가 함) 결정은 프로그래머가 한다.
print(int(age2) + 1)

나이 입력 >>100
101

In [ ]:
# 두 수를 입력을 받아서 사칙연산을 해보세요.
num=input('첫번째 수 >>')
num2=input('두번째 수 >>')
print(int(num)+int(num2))

첫번째 수 >>10
두번째 수 >>20
30

In [ ]:
n1 = int(input('숫자 1 >>'))
n2 = int(input('숫자 2 >>'))

숫자 1 >>3
숫자 2 >>7

In [ ]:
print('두 수의 합은', n1+n2)
print('두 수의 차는', n1-n2)
print('두 수의 곱은', n1*n2) #아스테리크, 에스테리크
print('두 수의 나눗셈은', n1/n2)
print('두 수의 나눗셈은', n1//n2)

두 수의 합은 10
두 수의 차는 -4
두 수의 곱은 21
두 수의 나눗셈은 0.42857142857142855
두 수의 나눗셈은 0

In [ ]:
me = '커피'
me2 = '우유'
print (me+me2) #문자열로 결합시켜라(결합 연산자)

커피우유

In [ ]:
price=1000

In [ ]:
print(me + '가격은 ' + str(price) + '원')

커피가격은 1000원

In [ ]:
price = int(input('커피값 :'))
count = int(input('커피 인원수 :'))
sum = price*count # 변수(저장공간, 저장공간이름=>변수명)

커피값 입력 :5000
커피 인원수 :3

In [ ]:
if sum>=20000:
  print('20000원 이상입니다.')
  print(sum - 2000,'원 결제하세요.')
else :
  print('20000원 미만입니다.')
  print(sum,'원 결제하세요.')

20000원 미만입니다.
15000 원 결제하세요.

In [ ]:
count =int(input('1년 만기 정기 예금을 얼마나 예치하시겠습니까?'))
print('원금이 ', count,'원이시군요.!')
print('이자는 ', count/10 ,'원입니다.')
print('원리합계는' , count+count/10 ,'원입니다.')

1년 만기 정기 예금을 얼마나 예치하시겠습니까?20000
원금이  20000 원이시군요.!
이자는  2000.0 원입니다.
원리합계는 22000.0 원입니다.

In [ ]:
eng =int(input('영어점수 입력:'))
math =int(input('수학점수 입력:'))
kor =int(input('국어점수 입력:'))
print('-------------')
print('세 과목의 합은 ', eng+math+kor,'점')
print('세 과목의 평균은 ', (eng+math+kor)/3,'점')

영어점수 입력:76
수학점수 입력:80
국어점수 입력:60
-------------
세 과목의 합은  216 점
세 과목의 평균은  72.0 점

In [ ]:
hr=int(input('지금은 몇 시 입니까?'))
if hr<12:
  print('점심 전입니다. 맛있게 드세요.!')
else :
  print('점심 후입니다.')

지금은 몇 시 입니까?12
점심 후입니다.

In [ ]:
a='홍길동'
b='홍길동'
a==b

True

In [ ]:
if a==b : # True일때만!
  print('동일한 사람')
else : #False인 모든 상황! 조건이 붙지 않음
  print('다른 사람')

동일한 사람

In [ ]:
id=str(input('로그인 할 id를 입력 >>'))
if id==str('root') :
  print ('로그인 되었습니다.')
else :
  print('로그인 되지 않았습니다.')

로그인 할 id를 입력 >>root
로그인 되었습니다.

In [ ]:
sticker_p=int(input('스티커 가격'))
sticker_n=int(input('스티커 갯수'))
bookmarcke_p=int(input('책갈피 가격'))
bookmarcke_n=int(input('책갈피 갯수'))
sum=((sticker_p*sticker_n)+(bookmarcke_p*bookmarcke_n))
sum2=sum-sum/10

member=str(input('회원정보 :'))
if member==str('우수회원') :
  print(sum2)
else :
  print(sum)

스티커 가격1000
스티커 갯수3
책갈피 가격2500
책갈피 갯수4
회원정보 :우수회원
11700.0